* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection{
  color: #fff;
  background: #000;
}

@font-face {
  font-family: Futura;
  src: url(../fonts/Futura-Bold.ttf);
}
@font-face {
  font-family: Helvetica;
  src: url(../fonts/HelveticaNowText-Regular.ttf);
}
html,
body {
  width: 100%;
  height: 100%;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* background: crimson; */
  padding: 0 1vw;
  padding-top: 20vh;
}
#page1 h1 {
  text-align: center;
  font-family: Futura;
  font-size: 15vw;
  text-transform: uppercase;
  line-height: 14vw;
}

#page1 .video-container {
  height: 100vh;
  width: 100%;
  background: aqua;
  margin: auto;
  position: relative;
}
#page1 .video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page1 .video-container .play {
  font-size: 1vw;
  font-family: Futura;
  text-transform: uppercase;
  position: fixed;
  background: #000;
  color: #fff;
  padding: 3vw 2.5vw;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}
/** page2 */
#page2 {
  min-height: 100vh;
  width:100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 3vw 1vw;
  align-items: center;
}
#page2 .elem{
  height: 100%;
  width: 31%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page2 .elem .dets{
  height: 60px;
  width: 80%;
  position: absolute;
  background: #E5F0D6;
  border-radius: 50px;
  transition: all 0.3s ease;
}
#page2 .elem .dets:hover{
  height: 200px;

}
#page2 .elem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.5;
}

#page3{
  height: 100vh;
  width: 100%;
  background: crimson;
}


@media(max-width:576px){
  #page1{
    background-color: crimson;
    min-height: 50vh;
  }
  #page1 .video-container {
    height: 40vh;
  }
  #page1 .video-container .play{
    font-size: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10vw 6vw;
  border-radius: 50%;
  opacity: 1;
  scale: 1;
  }
  #page2{
    flex-direction: column;
    height: 200vh;
    width: 100%;

  }
  #page2 .elem{
    height: 100vh;
    width: 100%;
  }
}




